@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Bright-blue-light: hsl(245, 55%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    font-size: 16px;
    background-color: var(--Desaturated-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

main {
    width: 320px;
    height: 230px;
    margin: 20px;
    padding: 20px;
    background-color: var(--Very-pale-blue);
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

main h1 {
    width: 100%;
    font-size: 2.0rem;
    margin-bottom: 10px;
    color: var(--Dark-blue);
}

main input {
    border-radius: 8px;
    width: 100%;
    height: 40px;
    padding: 5px;
    margin-bottom: 10px;
    outline: none;
    font-size: 1.1rem;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

main select {
    border: none;
    border-radius: 8px;
    width: 100%;
    height: 40px;
    padding: 5px;
    margin-bottom: 10px;
    outline: none;
    font-size: 1.1rem;
}

main button {
    background-color: var(--Bright-blue);
    color: var(--Very-pale-blue);
    font-size: 1.2rem;
    border-radius: 8px;
    width: 100%;
    height: 40px;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 10px;
    outline: none;
    border: none;
}

main button:hover {
    cursor: pointer;
    background-color: var(--Bright-blue-light);
}

footer a {
    color: var(--Very-pale-blue);
    text-decoration: none;
    padding: 5px;
    transition: 0.2s;
}

footer a:hover {
    color: var(--Bright-blue);
    font-weight: bold;
}